allow priv_app sysfs_graphics:file { getattr open read };allow priv_app bluetooth_data_file:dir getattr;
allow priv_app bluetooth_prop:file read;
allow priv_app boottime_prop:file read;
allow priv_app device:dir read;
allow priv_app hal_memtrack_default:binder call;
allow priv_app hal_memtrack_hwservice:hwservice_manager find;
allow priv_app init_exec:file getattr;
allow priv_app postinstall_mnt_dir:dir getattr;
allow priv_app radio_data_file:dir getattr;
allow priv_app rootfs:blk_file getattr;
allow priv_app sepolicy_file:file { getattr open read };
allow priv_app system_app_data_file:dir getattr;
allow priv_app bluetooth_data_file:dir getattr;
allow priv_app bluetooth_prop:file read;
allow priv_app boottime_prop:file read;
allow priv_app device:dir read;
allow priv_app hal_memtrack_default:binder call;
allow priv_app hal_memtrack_hwservice:hwservice_manager find;
allow priv_app init_exec:file getattr;
allow priv_app postinstall_mnt_dir:dir getattr;
allow priv_app radio_data_file:dir getattr;
allow priv_app rootfs:blk_file getattr;
allow priv_app sepolicy_file:file { getattr open read };
allow priv_app system_app_data_file:dir getattr;
